@import 'tailwindcss' important;

:root {
  --background: #181818;
  --foreground: #fff;
}

@theme {
  --color-gray-50: oklch(98.5% 0 247.839);
  --color-gray-100: oklch(96.7% 0 264.542);
  --color-gray-200: oklch(92.8% 0 264.531);
  --color-gray-300: oklch(87.2% 0 258.338);
  --color-gray-400: oklch(70.7% 0 261.325);
  --color-gray-500: oklch(55.1% 0 264.364);
  --color-gray-600: oklch(44.6% 0 256.802);
  --color-gray-700: oklch(37.3% 0 259.733);
  --color-gray-800: oklch(27.8% 0 256.848);
  --color-gray-900: oklch(21% 0 264.665);
  --color-gray-950: oklch(13% 0 261.692);
  --font-mono: initial;
  --color-dark-600: #8b8b8b;
  --color-dark-500: #7b7b7b;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-diatype);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-diatype), Helvetica, sans-serif;
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 100%;

  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-md)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
    max-width: calc(1280px + 2rem * 2);
  }
}
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .btn {
    background-color: var(--color-white);
    color: var(--background);
    border-radius: var(--radius-sm);
    padding: 6px 14px;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    transition: 300ms ease;
    transition-property: color, background-color;

    &:hover {
      background-color: var(--color-gray-200);
    }
  }

  .sandbox {
    background-color: rgba(255, 255, 255, 0.02);
    background-image: url('/bg_grid.svg');
    background-repeat: repeat;
    background-size: auto;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: var(--radius-lg);
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    margin-top: 40px;
  }
}

/* General global stylings */

a:not(.btn) {
  transition: 350ms ease;
  transition-property:
    color,
    text-decoration-color,
    -webkit-text-decoration-color;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-gray-600);
  text-decoration-color: var(--color-gray-600);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

  &:hover {
    -webkit-text-decoration-color: var(--color-gray-400);
    text-decoration-color: var(--color-gray-400);
  }
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dotSpinner {
  animation:
    spin 1.25s cubic-bezier(0.86, 0, 0.07, 1) infinite forwards 250ms,
    pulse-scale 2.5s ease infinite forwards;
  transform-origin: center center;
}

.animated-gradient {
  background: linear-gradient(
    to right,
    #e45b65 0%,
    #ff9500 25%,
    #6944a1 50%,
    #e45b65 75%,
    #ff9500 100%
  );
  animation: gradient-shift 9s linear infinite;
}

.sheen {
  filter: blur(10px);
  animation: sheen 1.5s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes pulse-scale {
  0% {
    scale: 1;
  }

  10% {
    scale: 0.8;
  }

  50% {
    scale: 0.8;
  }

  60% {
    scale: 1;
  }

  100% {
    scale: 1;
  }
}

@keyframes gradient-shift {
  0% {
    transform: translateX(0);
  }

  33.33% {
    transform: translateX(25%);
  }

  66.66% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(75%);
  }
}

@keyframes sheen {
  0% {
    transform: skew(-35deg, -10deg) translateX(-300%);
  }

  100% {
    transform: skew(-35deg, -10deg) translateX(300%);
  }
}
